<nav class="navbar">
  <div class="logo">
    <a [routerLink]="['/']">
      <fa-icon [icon]="faBookOpen" class="navbar-icon" 
        [ngStyle]="{'--fa-primary-color': '#69411b', '--fa-secondary-color': '#69411b'}">
      </fa-icon>
      <span>ByteBookOasis</span>
    </a>  
  </div>
  <div class="menu-toggle" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="nav-links" [ngClass]="{'nav-active': menuActive}">
    <li><a [routerLink]="['/about us']">About Us</a></li>
    <li class="dropdown">
      <a [routerLink]="['/books']">Books</a>
    </li>
    <li><a href="#" (click)="scrollToBottom(); $event.preventDefault()">Contact Us</a></li>
  </ul>
  <!-- Display login section only if user is not authenticated -->
  <ng-container *ngIf="!isAuthenticated">
    <div class="login-section">
      <a routerLink="/login">Login/</a>
      <a routerLink="/signup">Signup</a>
    </div>
  </ng-container>

  <!-- Display logout button only if user is authenticated -->
  <ng-container *ngIf="isAuthenticated">
    <div class="profile-section">
      <fa-icon [icon]="faBookOpen"></fa-icon>
      <button (click)="logout()">Logout</button>
    </div>
  </ng-container>
  <!-- <app-profile-dropdown></app-profile-dropdown> -->
</nav>
