<nav class="navbar">
  <div class="logo">
    <a [routerLink]="['/']">
      <fa-icon 
        [icon]="faBookOpen" 
        class="navbar-icon" 
        [ngStyle]="{'--fa-primary-color': '#69411b', '--fa-secondary-color': '#69411b'}">
      </fa-icon>
      <span>ByteBookOasis</span>
    </a>
  </div>

  <!-- Mobile Menu Toggle -->
  <div class="menu-toggle" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="nav-links" [ngClass]="{'nav-active': menuActive}" role="menu">
    <li role="menuitem"><a [routerLink]="['/about us']">About Us</a></li>
    <li role="menuitem">
      <a href="#" (click)="scrollToBottom(); $event.preventDefault()">Contact Us</a>
    </li>
    <li role="menuitem"><a [routerLink]="['/browse']">Browse</a></li>
    <li role="menuitem"><a [routerLink]="['/my-readings']">My Readings</a></li>
  </ul>

  <!-- Login Section -->
  <ng-container *ngIf="!isAuthenticated">
    <div class="login-section">
      <a routerLink="/login">Login</a>
    </div>
  </ng-container>

  <!-- Profile Dropdown -->
  <app-profile-dropdown></app-profile-dropdown>
</nav>
