<div class="login-section">
  <h2>Login</h2>
  <form action="#" class="login-form">
    <div class="field">
      <input type="email" placeholder="Email Address" required>
    </div>
    <div class="field">
      <input type="password" placeholder="Password" required>
    </div>
    <div class="pass-link">
      <a href="#">Forgot password?</a>
    </div>
    <div class="field btn">
      <input type="submit" value="Login">
    </div>
    <div class="signup-link">
      Not a member? <a [routerLink]="['/signup']">Signup now</a>
    </div>
  </form>
</div>