<div class="books-container">
  <h1>Book Search</h1>
  <form class="search-form">
    <input 
      id="title" 
      [(ngModel)]="searchCriteria.title" 
      name="title" 
      placeholder="Search by title" 
      class="search-input"
    />
    <input 
      id="author" 
      [(ngModel)]="searchCriteria.author" 
      name="author" 
      placeholder="Search by author" 
      class="search-input"
    />
    <input 
      id="genre" 
      [(ngModel)]="searchCriteria.genre" 
      name="genre" 
      placeholder="Search by genre" 
      class="search-input"
    />
    <input 
      id="searchQuery" 
      [(ngModel)]="searchCriteria.searchQuery" 
      name="searchQuery" 
      placeholder="Search query" 
      class="search-input"
    />
    <button type="button" class="search-button">Search</button>
  </form>
  <div class="results">
    <!-- Results will be displayed here -->
  </div>
</div>
