// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use '@angular/material' as mat; // Import Angular Material

// Include the common styles for Angular Material. You only need to load this once.
@include mat.core(); // Load Angular Material core styles

// Define the theme object
$ByteBookOasis-theme: mat.define-theme((
  color: (
    theme-type: light, // Theme type (light/dark)
    primary: mat.$azure-palette, // Primary color palette
    tertiary: mat.$blue-palette, // Tertiary color palette
  ),
  density: (
    scale: 0, // Density scale
  )
));

// Include theme styles for core and each component used in your app.
:root {
  @include mat.all-component-themes($ByteBookOasis-theme); // Apply the theme to all components
}

// Uncomment the following line if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application
// @include mat.typography-hierarchy($ByteBookOasis-theme); 

// Uncomment the following line if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($ByteBookOasis-theme); 
